

@import "partials/_mixins-functions.scss";
@import "partials/css-resets.scss";
@import "partials/base.scss";
@import "partials/grid.scss";
@import "partials/slideshow.scss";
@import "partials/mail-form.scss";

body{
	font-size: 62.5%;
	font-family: $reading-font;
	color: $dark-text;
	line-height: 150%;
}

h1{
	font-size: 3rem;
}

h2{
	font-family: $headline-font;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 150%;
}

h3{
	@extend h2;
	font-size: 1.4rem;
}

p{
	font-size: 1rem;
	line-height: 120%;
}

a{
  color: #d8680f;
}

//line height for every ul except in nav
:not(nav) > ul{
  line-height: 150%;
}

a.color-link{
	color: $color-text;
	font-size: 1rem;
	font-style: italic;
	margin-top: 20px;
	float: right;
}

header{
	@extend %clearfix;
	background: $bg-med;
	padding: 10px $pad;
}

.emphasis-text{
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
}

.logo img{
	width: 350px;
}

.affiliate-links{
	text-align: right;
}

nav{
	background-color: $bg-dark;
	text-align: right;
	padding: 5px 15px;
	padding-right: 15px;
  line-height: 2rem;
  font-size: 1.3rem;
	ul{
		font-family: $headline-font;
		text-transform: uppercase;
		li{
			display: inline;
			padding-left: 50px;
			a{
				color: $light-text;
				&:hover{
					color: darken( $light-text, 15% );
				}
			}
		}
	}
}

.content-section{
	@extend %clearfix;
	padding: 1% $content-padding .5% $content-padding;
	ul{
		font-size: 1rem;
	}
}

ul.content-list{
  font-size: 1rem;
}

.intro{
	margin-bottom:20px;
}

.right-content{
	float:right;
}

.bottom-content{
	background-color: $bg-med;
	padding-top: 0;
}

.info-box{
	padding-top: 1%;
	p{
		font-size: .9rem;
	}
	h3{
		margin-bottom: 3%;
	}
	ul{
		font-size: .9rem;
		li{
			padding-top: 15px;
			list-style-position: inside;
    	text-indent: -0.6rem;
    	&:before{
				content:'- ';
			}
		}
	}
}

.info-box:not(:first-child) {
    padding-left: 2%;
}

.top-to-bottom {
    border-right-width: 2px;
    border-right-style: solid;
    border-image:
      linear-gradient(to bottom, white, rgba(0, 0, 0, 0))0 100% 0 0;
    border-left: 0px;
}

img.right-image{
  float: right;
  width: 33%;
}

.side-nav{
	background-color: #f3f2f2;
  margin-right: 2%;
  min-height: 470px;
  padding: 0% 1%;
	ul li{
		padding: 8% 0;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-size: .8rem;
	}
	a{
		color: $color-text;
		&:hover{
			color: darken($color-text, 15% );
		}
	}
  select{
    display: none;
  }
}

.uses{
		ul{
		list-style-type: circle;
		list-style-position: inside;
		text-indent: -0.9rem;
	}
}

.info-section{
  padding: 5% 0;
  border-bottom: 1px dashed $dark-text;
}

.iframe-container {
  @extend %clearfix;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 45px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

footer{
	@extend %clearfix;
	background-color: $bg-dark;
	padding: 10px 2%;
	h3{
		color: $color-text2;
	}

	p{
		color: $light-text;
		font-size: 1rem;
		line-height: 150%;
	}

	ul li a{
		@extend p;
		&:hover{
			color: darken( $light-text, 15% );
		}
	}
	.phone{
		font-family: $headline-font;
	}
}

.mail-thanks{
	@extend .centered-page;
	min-height: 400px;
	margin-top: 5%;
	a.color-link{
		float: left;
	}
}



//MEDIA QUERIES
@media only screen and(max-width: $desktop-slim-max-width){
  nav{
    line-height: 3rem;

  }

  .span4.logo, .span4.affiliate-links{
		width: 100%;
		&.logo, &.affiliate-links{
			text-align: center;
		}
	}

  .side-nav{
    min-height: 0;
    width: 100%;
    margin-bottom: 1%;
    ul li{
      display: inline;
      padding-right: 5%;

      border-bottom: none;
      font-size: .9rem;
    }
  }
}

@media only screen and(max-width: $tablet-landscape-max-width){
  nav{
		text-align: left;
		ul li{
			padding-left: 0;
			padding-right: 20px;
		}
	}

  .side-nav ul li{
    font-size: .9rem;
  }

  .too-small{
    display: none;
  }

	.info-box{
		width: 32%;
	}
	
	.mail-thanks{
		min-height: 150px;
	}
}

@media only screen and (max-width: $mobile-landscape-max-width){
	nav{
		text-align: center;
		ul li{
			padding-right: 25px;
			}
	}

	.span2{
		width: 100%;
		float: left;
	}

	.top-to-bottom {
		border-bottom: 2px solid white;
    border-image: linear-gradient(to bottom, white, white)0 0 100% 0;
	}

	.content-section{
		@extend %clearfix;
		padding: 1% $content-padding .5% $content-padding;
	}

	.bottom-content{
		margin-top: 5%;
	}

	.info-box{
		padding-bottom: 15px;
	}

	.info-box:not(:first-child) {
    padding-left: 0;
	}

	.info-box:last-child {
    border-bottom: 0;
	}

	img.right-image{
		float: none;
		width: 100%;
	}

	.mail-thanks{
		text-align: center;
	}

	.footerbox{
		margin-bottom: 20px;
	}
}

@media only screen and(max-width: $mobile-portrait-max-width){
	.logo img{
		width: 280px;
	}

	.affiliate-links{
		display: none;
	}

	nav{
		line-height: 2rem;
    font-size: .8rem;
		ul{
			li{
			padding-right: 10px;
			}
		}
	}

  .side-nav{
    ul{
      display: none;
    }
    select{
      display: inline-block;
    }
  }
}