node_modules
.grunt
.env
.env.*
.sass-cache
.build
tmp

# images
images/*
web_files/images/*.png
web_files/images/*.ico
web_files/images/*.jpg
web_files/images/*.gif
favicon.ico

# javascript
